
/*ESTILOS GENERALES*/

html{
    font-size: 62,5%;

    body{
        background-color: $color-fondo;
        color: $color-fuentes;
        font-family: 'Roboto Condensed', sans-serif;
        vertical-align: baseline;
    }

    
} 